body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.welcome-text {
    text-align: center;
    margin-bottom: 10vh;
}

.whole-grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 18vh);
    grid-template-rows: repeat(3, 18vh);
    gap: 2vh;
}

.grid-item {
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 5px;
}
